<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h2> names</h2>
     <% for(name of names){ %>
     <h3><%= name.myname %></h3>
     <% } %>
</body>
</html>