<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h1>hii u r in page 1</h1>
     <form method="POST">
          <lable for="title">title</lable> </br>
          <input type="text" name="name1" id="title"> 
          <input type="submit">
     </form>
</body>
</html>